*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s ease-in;
}
body{
    width: 100%;
    height: auto;
    background: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.home{
    background: #FFFBF0;
}
header nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: auto;
    height: 50px;
    margin-left: 10px;
}
.menu{
    display: flex;
    margin-right: 10px;
}
.menu li{
    margin: 0px 10px;
}
.menu li:first-child{
    margin-left: 0;
}
.menu li:last-child{
    margin-right: 0;
}
.menu li a{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: hsla(0, 0%, 24%, 0.85);
    transition: 0.1s ease;
}
.menu li a:hover{
    color: hsla(0, 0%, 24%, 100);
    transform: scale(1.2);
}
.home-section{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-section .left-side{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-section .right-side{
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image{
    width: 550px;
    padding-bottom: 70px;
}
.left-side h1{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 1px;
    color: #363958;
}
.left-side h1 span{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 1px;
    color: #A4BC46;
}
.left-side p{
    width: 80%;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    color: #3E3E3E;
    margin-top: 15px;
}
.left-side .buy{
    margin-top: 55px;
}
.btn{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    background: linear-gradient(45deg, #A4BC46, #85A019);
    cursor: pointer;
    transition: 0.2s ease;
}
.btn:hover{
    box-shadow: 0px 10px 25px 0 hsla(0, 0%, 0%, 0.15);
}
.btn i{
    color: hsla(0, 0%, 100%, 0.9);
    margin-right: 5px;
}

/*Products*/
.woman-jacket{
    margin-top: 60px;
}
.section-title{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    font-weight: 600px;
    letter-spacing: 2px;
    color: #363958;
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.cards{
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.products-card{
    margin: 10px;
    width: 330px;
    height: auto;
    border: 20px solid #fff;
    background: #fff;
    border-radius: 20px;
    box-shadow: -3px 10px 25px 0 hsla(0, 0%, 0%, 0.05);
}
.img{
    width: 100%;
    height: 330px;
    background: #F1F1F1;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-image{
    width: auto;
    height: 290px;
}
.card-title{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #363958;
}
.card-decription{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    color: #3E3E3E;
}
.price-buy{
    margin-top: 20px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-buy h2{
    font-size: 36px;
    font-weight: bolder;
    color: #FABE4C;
}
.about-us-div{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side-text{
    width: 48%;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.right-side-image{
    width: 48%;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-side-image img{
    width: 550px;
}
.info-group{
    max-width: 490px;
    height: 85px;
    border: 20px solid #fff;
    background: #fff;
    border-radius: 20px;
    box-shadow: 2px 8px 15px 0 hsla(0, 0%, 0%, 0.05);
    display: flex;
    align-items: center;
    justify-content: start;
}
.info-group-2{
    margin: 30px 0;
}
.icon img{
    width: auto;
    height: 85px;
    padding-right: 20px;
}
.info-texts h3{
    font-size: 24px;
    font-weight: 700;
    color: #363958;
}
.info-texts p{
    font-size: 16;
    font-weight: 400;
    line-height: 22px;
    margin-top: 18px;
    color: #3E3E3E;
}
.contact{
    background: #FFFBF0;
}
.contact-form{
    padding-top: 60px;
    width: 100%;
    height: auto;
}
.name-mail{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name, .mail{
    width: 46%;
    padding: 12px 16px;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #3C3C3C;
    box-shadow: 2px 8px 15px 0 hsla(0, 0%, 0%, 0.05);
}
.msg-box{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt-area{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #3C3C3C;
    resize: none;
    box-shadow: 2px 8px 15px 0 hsla(0, 0%, 0%, 0.05);
}
::placeholder{
    color: rgba(62, 62, 62, 0.7);
}
.buttons{
    width: 100%;
    height: auto;
    margin: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.reset{
    border: none;
    background: linear-gradient(45deg, #FABE4C, #fc9c42);
}
.submit{
    border: none;
}
.social{
    padding: 60px 0px 120px 0px;
    width: 100%;
    height: auto;
}
.social-icons{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons a{
    margin: 0px 30px;
}
.social-icons a i{
    font-size: 50px;
    color: #363958;
    transition: 0.3s ease;
}
.social-icons a i:hover{
    transform: scale(1.2);
    text-shadow: 0px 10px 25px 0 hsla(0, 0%, 0%, 0.15);
}
footer{
    width: 100%;
    height: auto;
    background: #fff;
}
footer h6{
    text-align: center;
    padding: 40px 0px 20px 0px;
    font-size: 16px;
    color: rgba(62, 62, 62, 0.7);
    font-weight: 100;
}

@media (max-width: 1024px) {
    .profile-image{
        width: 480px;
    }
    .cards{
        justify-content: space-evenly;
    }
    .right-side-image img{
        width: 470px;
    }
    .info-group{
        max-width: 430px;
    }
    .contact-form{
        width: 75%;
        height: auto;
        margin: 0 auto;
    }
    .name, .mail{
        width: 44%;
    }
}
@media (max-width: 910px) {
    .logo-anchor{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .menu{
        display: none;
    }
}
@media (max-width: 768px) {
    .home-section{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .home-section .left-side{
        width: 100%;
        box-sizing: border-box;
        padding: 80px 60px 40px;
        height: auto;
    }
    .home-section .right-side{
        width: 100%;
        height: auto;
    }
    .profile-image{
        width: 650px;
    }
    .products-card{
        margin: 20px;
        width: 480px;
        height: auto;
        border: 25px solid #fff;
        background: #fff;
        border-radius: 20px;
        box-shadow: -3px 10px 25px 0 hsla(0, 0%, 0%, 0.05);
    }
    .img{
        width: 480px;
        height: 450px;
        background: #F1F1F1;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .products-image{
        width: auto;
        height: 430px;
    }
    .about-us-div{
        flex-direction: column-reverse;
    }
    .left-side-text{
        width: 100%;
        height: auto;
        padding: 30px 0px 60px 0px;
        align-items: center;
    }
    .right-side-image{
        width: 100%;
        height: auto;
        padding: 80px 0px 30px 0px;
        justify-content: center;
    }
    .right-side-image img{
        width: 650px;
    }
    .info-group{
        max-width: 550px;
    }
    .name-mail{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .name, .mail{
        box-sizing: border-box;
        width: 100%;
        margin-top: 18px;
    }
    .msg-box{
        margin-top: 18px;
    }
}
@media (max-width: 550px) {
    .profile-image{
        width: 425px;
    }
    .right-side-image img{
        width: 425px;
    }
    .products-card{
        margin: 20px;
        width: 370px;
        border: 18px solid #fff;
        border-radius: 18px;
    }
    .img{
        width: 370px;
        height: 370px;
    }
    .products-image{
        height: 330px;
    }
    .info-group{
        max-width: 425px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    .icon img{
        width: auto;
        height: 100px;
        padding: 0px 0px 25px 0px;
    }
    .info-texts{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .info-texts p{
        text-align: center;
        margin-top: 10px;
    }
}
@media (max-width: 425px) {
    .logo{
        width: 320px;
        height: auto;
    }
    .left-side h1, .left-side h1 span{
        font-size: 70px;
        line-height: 65px;
    }
    .home-section .left-side{
        padding: 50px 35px 40px 35px;
    }
    .left-side p{
        width: 100%;
    }
    .profile-image{
        width: 320px;
    }
    .products-card{
        margin: 20px;
        width: 310px;
        border: 18px solid #fff;
        border-radius: 18px;
    }
    .img{
        width: 310px;
        height: 315px;
    }
    .products-image{
        height: 270px;
    }
    .right-side-image img{
        width: 300px;
    }
    .info-group{
        max-width: 290px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    .icon img{
        width: auto;
        height: 100px;
        padding: 0px 0px 25px 0px;
    }
    .info-texts{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .info-texts p{
        text-align: center;
        margin-top: 10px;
    }
    .contact-form{
        width: 100%;
    }
    .name, .mail{
        width: 92%;
    }
    .txt-area{
        width: 92%;
    }
    .social-icons a{
        margin: 0px 15px;
    }
    .social-icons a i{
        font-size: 40px;
    }
}