*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: auto;
    background: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.home{
    background: #FFFBF0;
}
header nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: auto;
    height: 50px;
    margin-left: 10px;
}
.menu{
    display: flex;
    margin-right: 10px;
}
.menu li{
    margin: 0px 10px;
}
.menu li:first-child{
    margin-left: 0;
}
.menu li:last-child{
    margin-right: 0;
}
.menu li a{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: hsla(0, 0%, 24%, 0.85);
    transition: 0.1s ease;
}
.menu li a:hover{
    color: #3C3C3C;
}
.home-sec{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-sec .left-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-sec .right-side{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image{
    width: 550px;
    padding-bottom: 70px;
}
.left-side h1{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 1px;
    color: #363958;
}
.left-side h1 span{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 1px;
    color: #A4BC46;
}
.left-side p{
    width: 80%;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    color: #3E3E3E;
    margin-top: 15px;
}
.left-side .buy{
    margin-top: 55px;
}
.buy-btn{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    background: linear-gradient(45deg, #A4BC46, #85A019);
}
.buy-btn i{
    color: hsla(0, 0%, 100%, 0.9);
    margin-right: 5px;
}

/*Products*/
.woman-jacket{
    margin-top: 60px;
}
.products-title{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    font-weight: 600px;
    letter-spacing: 2px;
    color: #363958;
    margin-bottom: 60px;
}